/* https://css-tricks.com/fixing-tables-long-strings/ */

h2 {
    text-align:center;
}

#cblock {
    padding: 15px 0 0 0;
}

.eomtable {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    vertical-align: middle 
}

.eomtable td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.row-header {
/*    text-align:center; */
}

/* Summary Table */

.row-report-id {
    width: 15%;
}

.row-device {
    width: 35%;
}

.row-timestamp {
    width: 25%;
}

.row-invalid {
    width: 25%;
}

/* Detail Table */

.row-status {
      width: 4%;
}
.row-network {
      width: 15%;
}
.row-nexthop {
      width: 15%;
}
.row-metric {
      width: 4%;
}
.row-locpref {
      width: 4%;
}
.row-weight {
      width: 4%;
}
.row-origin {
      width: 10%;
}
.row-path {
      width: 24%;
}
.row-constraints {
      width: 20%;
}


/* Detail Table */

.row-rtr-device {
      width: 50%;
}
.row-rtr-updt {
      width: 25%;
}
.row-count {
      width: 25%;
}

.stale-data {
  background-color: #FFFF00;
}

.fresh-data {
  background-color: #00FF00;
}
