{% extends "base.html" %}

{% block content %}

<h2>{% block title %}EOM Route Status{% endblock %}</h2>

{% if routes %}
    <table class='eomtable'>
        <thead>
            <tr>
            <th class="row-status row-header">ROA</th>
            <th class="row-network row-header">Network</th>
            <th class="row-nexthop row-header">NextHop</th>
            <th class="row-metric row-header">M</th>
            <th class="row-locpref row-header">L</th>
            <th class="row-weight row-header">W</th>
            <th class="row-origin row-header">Origin</th>
            <th class="row-path row-header">Path</th>
            <!--
            <th>Flags</th>
            -->
            <th class="row-constraints">Constraints</th>
            </tr>
        </thead>
        <tbody>
          {% for r in routes %}
            <tr>
            <td> 
                {% if r.invalid == 'V' %}    
                    &#x2705;
                {% elif r.invalid == 'I' %} 
                    &#x274c;
                {% else %}
                    &#x003f;
                {% endif %}
            </td>
            <td> {{ r.pfx }}/{{ r.pfxlen }} </td>
            <td> {{ r.nexthop }} </td>
            <td> {{ r.metstr }} </td>
            <td> {{ r.lpstr }} </td>
            <td> {{ r.wtstr }} </td>
            <td> {{ r.orig_asn }} </td>
            <td>
                {% for a in r.pathlist %}
                    {{ a }} &#x27a1; 
                {% endfor %}
                {{ r.orig_asn }}
            </td>
            <!--
            <td> {{ r.path }} </td>
            <td> {{ r.route_orig }} </td>
            -->
            <td>
                <table class='table'>
                {% for c in r.constraints %}
                <div id="cblock">
                    <div>Server:{{ c.0 }}:{{ c.1 }}</div>
                    <div>AS:{{ c.2 }}</div>
                    <div>Prefix:{{ c.3 }}</div>
                    <div>Range:[{{ c.4 }}-{{ c.5 }}]</div>
                </div>
                {% endfor %}
                </table>
            </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No routes found.</h3>
{% endif %}

{% endblock content %}
