{% extends "base.html" %}

{% block content %}

<h2>{% block title %}EOM Error Report List{% endblock %}</h2>

{% if report_list %}
    <table class='eomtable'>
        <thead>
            <tr>
            <th class="row-report-id"> Report Id </th>  
            <th class="row-device"> Device </th> 
            <th class="row-timestamp"> Timestamp </th>
            <th class="row-sum-invalid"> Invalid </th>
            </tr>
        </thead>
        <tbody>
          {% for r in report_list %}
            <tr>
            <td><a href="{% url 'status:detail' r.report_id %}">{{ r.report_id }}</a></td>
            <td> {{ r.device }} </td>
            <td> {{ r.timestamp_str }} </td>
            <td> {{ r.invalid }} </td>
            </tr>
          {% endfor %}
        </tbody>
    </table>
{% else %}
    <h3>No reports are available.</h3>
{% endif %}

{% endblock content %}
